<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card panel-primary">
				<div class="card-body">
					<form>
						<div class="form-group">
							<h4>Consultar Usuário</h4>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label>Nome do Usuário</label>
									<input [(ngModel)]="nome" required [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
								<div class="col-md-6">
									<label>CPF do Usuário</label>
									<input [(ngModel)]="cpf" [textMask]="{mask: maskUtil.mascaraCpf}" required [ngModelOptions]="{standalone: true}" class="form-control" type="text">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-right">
								<button type="button" class="btn btn-primary" (click)="consultarUsuarios()">Consultar</button>
							</div>
						</div>
					</form>
				</div>
				<div class="card-body" *ngIf="listaUsuarios.length > 0">
					<form>
						<div class="form-group">
							<h4>Resultado da Consulta</h4>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Nome</th>
									<th scope="col">CPF</th>
									<th scope="col">Login</th>
									<th scope="col">Perfil</th>
									<th scope="col">Acões</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let usuario of listaUsuarios">
									<td>{{ usuario.pessoa.nome }}</td>
									<td>{{ usuario.pessoa.cpf }}</td>
									<td>{{ usuario.login }}</td>
									<td>{{ perfilDesc(usuario.idPerfil) }}</td>
									<td>
										<button [disabled]="" class="btn btn-primary" (click)="editarUsuario(usuario.pessoa.id)">Editar</button>
										<button [disabled]="" class="btn btn-danger" (click)="deletar(usuario.pessoa.id)">Deletar</button>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
